<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="map_name" default="test" />
    <arg name="map_path" default="$(env HOME)/.pal/tiago_dual_maps/configurations/octomap/$(arg map_name)" />
    <arg name="map_file" default="$(env HOME)/.pal/tiago_dual_maps/configurations/octomap/$(arg map_name)/map.yaml" />

    <arg name="map_frame" default="/projected_map" />

    <arg name="octomap_source" default="/merged_pc" />


    <include file="$(find tiago_dual_2dnav_gazebo)/launch/tiago_dual_navigation.launch">
<!--        <arg name="node_name" value="3d_navigation" />-->
        <arg name="public_sim" value="true" />
        <arg name="lost" value="true" />
        <arg name="map" value="$(arg map_path)" />
        <arg name="map_frame" value="$(arg map_frame)" />
    </include>

    <include file="$(find octomap_server)/launch/octomap_mapping.launch">
        <arg name="node_name" default="camera_scan_map" />
        <arg name="point_cloud" value="$(arg octomap_source)"/>
    </include>

    <node pkg="tiago_3d_nav" type="tiago_3d_nav" name="merged_optical"></node>
<!--    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>-->
</launch>